#information td
{
    text-align:right;
}

.firstrow{
}

.uptodate{
}

.outdated
{
    background-color: #FFBBBC;
}

table.readings {
    border: 0px;
}

table.readings td{
    padding: 0px;
}

td.reading {
    text-align:left;
}
table.readings th{
    padding: 0px;
}

.error {
    color:  #ff6666;
}


.footer {
    position: absolute;
    top: 0px;
    right: 0px;
    color:grey;
    text-align:right;
    text-decoration:none;
    text-transform:lowercase;
}
     .qrdiv {
         position: absolute;
         top: 200px;
         right: 10px;
     }


.reading {
    text-align:right;
}
